<h2>Create A New Store!</h2>

<form action="/store/add" method="post">
  <label for="store_name">Enter A Name For The Store</label>
  <input type="text" name="store_name" id="store_name">
  <button type="submit">Submit</button>
</form>
