<h2>Add A New Shoe!</h2>

<form action="/shoe/add" method="post">
  <label for="shoe_brand">Enter A Brand For The Shoe</label>
  <input type="text" name="shoe_brand" id="shoe_brand">
  <br>
  <label for="shoe_price">Enter A Price For This Shoe</label>
  <input type="text" name="shoe_price" id="shoe_price" placeholder="$">
  <button type="submit">Submit</button>
</form>
