<h1>Shoes</h1>




<table>
  <tr>
    <th>Shoe Brand</th>
  </tr>
  <tr>
  <% if @all_shoes.any? %>
    <% @all_shoes.each do |shoe| %>
      <td><a href="/shoe/<%=shoe.id%>"><%=shoe.brand%></a></td>
  </tr>
  <% end %>
</table>
<% else %>
  <h5>No shoes have been entered yet.</h5>
<% end %>

<br>
<br>



<a href="/shoe/add" class="btn btn-info">Add A New Shoe</a>
