<h1><%=@shoe.brand%></h1>

<% if @shoe.price.to_s.length == 4 && @shoe.price.to_s.include?(".") && @shoe.price.to_s.length[4] == 0%>
  <%  @price = @shoe.price.to_s.concat("0") %>
<% else %>
  <% @price = @shoe.price %>
<% end%>


<h3>Price: $<%=@price%></h3>

<a href="/shoe/<%=@shoe.id%>/edit" class="btn btn-info">Edit This Shoe</a>
<br>
<br>
<form action="/shoe/<%=@shoe.id%>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <button type="submit" class="btn btn-danger">Delete This Shoe</button>
</form>
