<h1>Stores</h1>

<table>
  <tr>
    <th>Store Name</th>
  </tr>
  <tr>
  <% if @all_stores.any? %>
    <% @all_stores.each do |store| %>
      <td><a href="/store/<%=store.id%>"><%=store.name%></a></td>
  </tr>
  <% end %>
</table>
<% else %>
  <h5>No stores have been entered yet.</h5>
<% end %>
<br>
<br>
<br>


<a href="/store/add" class="btn btn-info">Add A New Store</a>
